version: '2'

services:
  devenv:
    image: kazukgw/devenv
    volumes:
      # docker
      - /var/run/docker.sock:/var/run/docker.sock
      # ssh
      - <your_dot_ssh>:/home/devenv/.ssh
      # src
      - <your_src_dir>:/home/devenv/src
      # bin
      - <your_bin_dir>:/home/devenv/bin
      # pkg
      - <your_pkg_dir>:/home/devenv/pkg
      # nvim pluggin
      - <your_vim_plugged_dir>:/home/devenv/.config/nvim/plugged
      # pip pacakges
      - <pip_local>:/home/devenv/.local
      # timezone
      - /etc/localtime:/etc/localtime:ro
    environment:
      http_proxy: xxxx
      https_proxy: xxxx
      GIT_EMAIL: xxx
      GIT_NAME: xxx
      GITHUB_USER: xxx

